body {
    margin: 0;
}
  
body header {
    color:            white;
    background-color: #333;
    margin:           0;
}
  
body header h1 {
    font-size:  35px;
    margin: 0;
    padding:          15px;
    padding-bottom:   5px;
    display: inline-block;
}
  
body header span {
    position: relative;
    display: none;
    float: right;
    height: 15px;
    width: 18px;
    padding: 12px;
}
  
body header span div {
    background-color: white;
    padding-bottom: 3px;
    position: absolute;
    width: 15px;
    left: 0px;
    top: 0px;
}
  
body header span div#line-two {
    top: 5px;
}
  
body header span div#line-three {
    top: 10px;
}

body nav {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    margin: 0;
    padding: 0;
    background-color: #333;
}
  
body nav ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

body nav ul li {
    float: left;
}

body nav ul li a, 
body nav ul li a.dropbtn {
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
    display: block;
    color: white;
}
  

/* body nav ul li.dropdown:hover .dropbtn,  
body nav ul li.dropdown a:hover:not(.active), */
body nav ul li.dropdown:hover,
body nav ul li.dropdown div.dropdown-content a:hover {
    background-color: #111;
}

li.dropdown:hover div.dropdown-content {
     display: block; 
}
  
body nav ul li.right {
    float: right;
}


div.dropdown-content {
    background-color: #333;
    position: absolute;
    min-width: 160px;
    display: none; 
  /*  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 99;
}

div.dropdown-content a {
    text-decoration: none;
    display: block;
    padding: 12px 16px;
}


body main {
    padding:  10px;
}
  
body footer {
    background-color: #333;
    color:            white;
    margin:           0;
    padding:          10px; 
}
 
 
 
@media screen and (max-width: 600px) {
  body header {
      position: -webkit-sticky; /* Safari */
      position: sticky;
      top: 0;
  }
  body header span {
      display: block;
  }
  body header h1 {
      font-size:  25px;
      margin: 0;
      padding:          5px;
      padding-left:   10px;
      display: inline-block;
  }
  body nav {
      display: none;
  }
  body nav ul li.right, 
  body nav ul li {
      float: none;
  }
}    
    
    
